body {
	margin: 0px;
	background-color: #26CBDE;
	font-family: sans-serif;
}

.container {
	max-width: 960px;
	margin: 0px auto;
	/*position: relative;*/
}

.card {
	background-color: #F6FBFD;
	border: 0px;
	border-radius: 5px;
	margin: 0px auto;
/*	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, 50%);*/
}

.header {
	border-bottom: 1px solid #A1ACB3;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

h1 {
	margin: 0px;
	font-size: 1rem;
}

.header > button {
	padding: 0px 5px;
	border: 0px;
	color: #26CBDE;
	background-color: #F6FBFD;
	cursor: pointer;
}

.task-list-container {
	padding: 1rem;
}

h2 {
	margin: 0px;
}

.list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.icon {
	font-size: 1.5rem;
	color: #A1ACB3;
	/*flex: 1;*/
	text-align: center;
	margin-right: 20px;    
}

li {
	display: flex;
	align-items: center;
	padding: 10px 0px;
}

/*li:hover {
	background-color: #A1DDEB;
}
*/
.task-content {
	flex: 1;
}

.name-descr {
	display: flex;
	margin: 5px 0px;
}

.name-descr > h2 {
	font-size: 1rem;
}

.name-descr > p {
	margin: 0px 5px;
}

.creation-info {
	margin: 0px;
	color: #A1ACB3;
	font-size: 0.9rem;
}

.btns-container {
	display: flex;
/*	justify-content: space-evenly;
flex: 1;*/
}

.task-btn-container {
	margin: 0px 5px;
}

.activity {
	margin: 0px;
	padding: 5px;
	width: 100px;
	font-size: 0.7rem;
	text-transform: uppercase;
	font-weight: 700;
	border: 0px;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
}

.email, .call {
	background-color: #1BB5EB;
}

.create {
	background-color: #36875C;
}

.dots-btn-container {

}

#create-dots-btn {
	visibility: hidden;
}

.dots {
	padding: 0px 10px;
	border: 0px;
	background-color: #F6FBFD;
	color: #A1ACB3;
	font-size: 1.3rem;
	cursor: pointer;
}

.tooltip-container {
	display: none;
}

.dots-btn-container:hover + .tooltip-container {
	display: block;
	border: 1px solid #A1ACB3;
	border-radius: 5px;
	background-color: #F6FBFD;
	position: absolute;
	right: 274px;
    bottom: 122px;
/*	top: 115px;
	right: 289px;*/
}

.tooltip {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.tooltip > button {
	margin: 4px 0px;
	background-color: #F6FBFD;
	color: #A1ACB3;
	border: 0px;
	text-align: left;
}

.dismiss:hover, .edit:hover {
	background-color: #A1DDEB;
}
